
@font-face {
    font-family: 'Harry Plotter';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=FeVIS0pZqaE09xIhY_YEqdERo29-x-YtPFmaYBohHr5931v359I&skey=3d80a63d630815a3&v=v3) format('woff2');
  }

  
body {
    font-family: 'Indie Flower', cursive;
    background: url(../images/hp2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1, h2, h3{
    font-family: "Harry Plotter";
  }

  #welcomeContainer, #qus1, #qus2, #qus3, #qus4, #qus5, #qus6, #qus7, #qus8, #qus9, #qus10 {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  #resultContainer {
    position: absolute;
    top: 48%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  #qus1, #qus2, #qus3, #qus4, #qus5, #qus6, #qus7, #qus8, #qus9, #qus10, #resultContainer, #timerDiv{
    display: none;
  }

  li{
      list-style: none;
  }

  img{
    height: 40%;
    width: 40%;
  }

  #footeImg{
    height: 15%;
    width: 15%;
  }

/* #clock-timer{
    position: fixed;
} */
  